.shadow1 {
  text-shadow: 16px 8px 25px rgb(0, 119, 255), 8px -4px 8px rgb(0, 255, 234);
  text-decoration-style: underline;
}

.shadow2 {
  text-shadow: 16px 8px 25px rgb(0, 255, 255), 8px -4px 8px rgb(0, 255, 106);
}

body {
  font-size: 5rem;
  color: #2C2F34;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.frank {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title {
  font-family: "Indie Flower", cursive;
  font-size: 2.5rem;
  text-decoration: underline;
  font-style: italic;
}

img {
  width: 6.25rem;
  box-shadow: 8px 8px 25px rgb(0, 119, 255), 8px -4px 8px rgb(0, 255, 234);
}

.blue {
  color: darkslategray;
}

.center {
  text-align: center;
}

.bigger {
  font-size: 30px;
}

.box-1 {
  padding: .625rem;
  border: solid #36DAF3;
  border-width: 1.25rem;
}

.box-2 {
  padding: .625rem;
  border: solid #2A7BF0;
  border-width: 1.25rem;
}

.box-3 {
  padding: .625rem;
  border: solid rgb(77, 10, 185);
  border-width: 1.25rem;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
  animation-duration: 1.5s;
}

@media (min-width: 768px) {
  .box-3, .box-2, .box-1 {
    padding: 1rem;
    border-width: 3.5rem;
  }

  img {
    width: 25rem;
    box-shadow: 8px 8px 25px rgb(0, 119, 255), 8px -4px 8px rgb(0, 255, 234);
  }

  .title {
    font-size: 2.5rem;
  }
}

@media (min-width: 992px) {
  .box-3, .box-2, .box-1 {
    padding: 4rem;
    border-width: 8rem;
  }

  img {
    width: 30rem;
  }
  
  .title {
    font-size: 3.5rem;
  }
}